<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cashback">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- Creates a custom permission so only this app can receive its messages.  53a318 -->
    <permission
        android:name="com.cash.cashback.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.cash.cashback.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="com.cash.cashback.AppController"
        android:allowBackup="true"
        android:icon="@drawable/launchericon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DesignDemo">
        <activity
            android:name=".MainActivity"
            android:configChanges="smallestScreenSize|keyboardHidden|screenSize|orientation"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NotificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StoreDetailPageScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WebviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CategoryWiseStoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MissingCashbackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FAQ_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".How_ItWorksActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Conact_UsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TicketHistoryActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MyCashBackScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PaymentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".StoreCashBackList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditAccountDetail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MLoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".StatementActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PrivacyPolicy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TermsAndConditionActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.cashback" />
            </intent-filter>
        </receiver>

        <service android:name="com.cash.cashback.GCMIntentService" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".ChatWidUsActivty"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VideoViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity android:name="com.AppUpdateActivity" />

        <service
            android:name=".services.AlStoreIntentService"
            android:exported="false" />

        <service
            android:name=".services.AllCategoryIntentService"
            android:exported="false" />

        <service
            android:name=".services.GetCategoryPathIntentService"
            android:exported="false" />

        <activity android:name=".SlideAnimationTestActivity"></activity>

        <activity android:name=".CashbackActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.WithActionBar"
            android:label="Cashback-Rates">

        </activity>

        <service
            android:name="com.cash.cashback.WhiteFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name="com.cash.cashback.WhiteFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>